[ClassicUI]
# 状态栏 X 位置
#MainWindowOffsetX=500
# 状态栏 Y 位置
#MainWindowOffsetY=40
# 字体大小
#FontSize=0
# 字体
Font=Source Han Mono SC
# 菜单字体
MenuFont=Source Han Mono SC
# 字体区域
#FontLocale=zh_CN.UTF-8
# 使用系统托盘
# 可选值：
# True False
#UseTray=True
# 状态栏隐藏模式
# 可选值：
# Show
# Auto
# Hide when tray icon is available
# Hide
#MainWindowHideMode=Hide when tray icon is available
# 竖排候选词列表
# 可选值：
# True False
#VerticalList=False
# 皮肤名称
SkinType=dark

