[CloudPinyin]
# Cloud Pinyin Candidate Word Order
#CandidateOrder=2
# Minimum Length of Pinyin To Trigger Cloud Pinyin
#MinimumPinyinLength=2
# Don't Show the 'via cloud' hint
# Available Value:
# True False
#DontShowSource=True
# Cloud Pinyin Source
# Available Value:
# Google
# Baidu
Source=Baidu
# Toggle Cloud Pinyin enabled status
#ToggleKey=
# Enabled
# Available Value:
# True False
#Enabled=True

