[user]
    name = "Sainnhe Park"
    email = sainnhe@gmail.com
[core]
    editor = nvim
[diff]
    tool = nvim_diff
[difftool]
    prompt = false
[difftool "nvim_diff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
    tool = nvim_merge
    conflictStyle = diff3
[mergetool "nvim_merge"]
    cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
    trustExitCode = true
[pull]
    rebase = true
[init]
    defaultBranch = master
[alias]
    cl = clone --depth 1
    ps = push
    ft = fetch
    pl = pull
    mg = merge
    mt = mergetool
    st = status
    sm = submodule
    br = branch
    dt = difftool
    dt-staged = difftool --staged
    df = diff --color
    df-staged = diff --staged --color
    df-fzf = !zsh $HOME/repo/dotfiles/scripts/forgit.zsh diff
    co = checkout
    co-rs = checkout --
    co-rs-fzf = !zsh $HOME/repo/dotfiles/scripts/forgit.zsh restore
    cm = commit
    acm = commit -a
    cm-a = commit --amend
    ad = add
    ad-u = reset HEAD --
    ad-fzf = !zsh $HOME/repo/dotfiles/scripts/forgit.zsh add
    logs = log --oneline --decorate --graph --pretty=format:\"(%h)  %an, %ar: %s\"
    logs-all = log --oneline --decorate --graph --all --pretty=format:\"(%h)  %an, %ar: %s\"
    log-fzf = !zsh $HOME/repo/dotfiles/scripts/forgit.zsh log
    ig-fzf = !zsh $HOME/repo/dotfiles/scripts/forgit.zsh ignore
    ed = !nvim `git ls-files -m --other --exclude-standard` -p
    rg = !rg $(git rev-parse --show-toplevel) --column --smart-case -e
    rg-ls = !rg $(git rev-parse --show-toplevel) --files
    rg-all = !rg $(git rev-parse --show-toplevel) --column --smart-case --no-ignore --hidden -g '!.git' -e
    rg-all-ls = !rg $(git rev-parse --show-toplevel) --no-ignore --hidden -g '!.git' --files
    ls-committed = ls-tree --full-tree -r --name-only HEAD
; [http]
;     proxy = socks5://127.0.0.1:1080
; [https]
;     proxy = socks5://127.0.0.1:1080
; [url "https://github.com.cnpmjs.org/"]
;     insteadOf = https://github.com/
; [url "https://hub.fastgit.org/"]
;     insteadOf = https://github.com/
; [url "https://ghproxy.com/https://github.com/"]
;     insteadOf = https://github.com/
