snippet doc comment doc
	/*
	${1:FuncName} ${2:performs some operations and returns some values.}

	Params:
		- ${3:param1} ${4:type}: ${5:The value of foo.}
	
	Returns:
		- ${6:error}: ${0:The error occurred during the execution. Nil will be returned if no error occurrs.}
	*/
