snippet cdoc comment doc
	/*
	${1:FuncName} ${2:performs some operations and returns some values.}

	Params:
		- ${3:ctx} ${4:context.Context}: ${5:The context of request.}
	
	Returns:
		- ${6:error}: ${0:The error occurred during the execution. Nil will be returned if no error occurrs.}
	*/
