[Desktop Entry]
Name=Netease Cloud Music
Icon=google-music
Exec=optirun chromium --app=https://music.163.com/ --no-proxy-server
Type=Application
Terminal=falie
Categories=GNOME;GTK;Network;
StartupNotify=true
